<div class="alignContent">
  <h1> <%= @job.title %> </h1>

<h3><%= @job.description %></h3>

<% if @worker && @job.worker_id == @worker.id %>

  <%= form_for @job, :method => "patch", remote: true do |f| %>
    <%= hidden_field_tag :active, '' %>
    <%= check_box_tag :active, checked = true %>
    <%= f.label :active, "I am currently working on this project"  %>
    <%= hidden_field_tag :completed, '' %>
    <%= check_box_tag :completed, checked = true %>
    <%= f.label :completed, "I have completed this project"  %>
    <%= f.submit %>
  <% end %>

  <div id="jobStatus"> <% if @job.completed == true %>
    <p>
      You have completed this project.
    </p>
  <% elsif @job.active == true %>
    <p>
      You are currently working on this project.
    </p>
  <% else %>
    <p>
      You have claimed this project but are not currently working on it.
    </p>
  <% end %>
</div>

<% elsif @job.pending %>
  <p>Someone has already claimed this job; it's currently pending.</p>
<% else %>
<p>No one has claimed this job!</p>
<%= link_to "click here to claim it now", job_path(@job), :method => "patch", remote: true %>
<% end %>

<div id="claimJob"></div>
</div>
